.searchSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #cde7ff;
  max-width: 1920px;
  width: 100%;
  height: 43.5rem;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.titleInput {
  display: flex;
  flex-direction: column;
  padding-left: 8.25rem;
  padding-bottom: 10rem;
}

.searchSection h1 {
  margin-bottom: 1rem;
  font-size: 4rem;
}

.searchBoxes {
  display: flex;
  width: auto;
  height: 60px;
}

.inputGroup {
  display: flex;
  height: 80px;
  background: white;
  box-sizing: border-box;
  position: relative;
  box-shadow: 6px 5px 9px 0px #00000059;
}

.inputGroup input {
  width: 459px;
  height: 80px;
  border: none;
  padding: 0 1rem;
  font-size: 1rem;
  outline: none;
  box-sizing: border-box;
}

.inputGroup::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 1px;
  background-color: #00000080;
}

.searchBoxes button {
  width: 213px;
  height: 80px;
  background-color: #274059;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  box-sizing: border-box;
  box-shadow: 6px 5px 9px 0px #00000059;
}

.rectangle12 {
  position: absolute;
  right: 0;
  bottom: -100px;
  height: auto;
  max-width: none;
}
